name: basic-ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Setup Poetry
      - uses: Gr1N/setup-poetry@v4

      - run: poetry install
      - run: poetry run isort src
